<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="PROFILES_ACTIVE" source="spring.profiles.active"/>
    <springProperty name="APP" source="spring.application.name"/>
    <springProperty name="APP_NAME" source="info.app.name" defaultValue="NOT_SET"/>
    <springProperty name="ENV_NAME" source="info.env.name" defaultValue="NOT_SET"/>
    <springProperty name="HOSTNAME" source="info.hostname" defaultValue="NOT_SET"/>
    <springProperty name="CAPTAIN_SEQ" source="info.captain.seq" defaultValue="NOT_SET"/>
    <springProperty name="CAPTAIN_GEN" source="info.captain.gen" defaultValue="NOT_SET"/>
    <springProperty name="BUILD_NAME" source="info.build.name" defaultValue="NOT_SET"/>
    <springProperty name="BUILD_GIT_VERSION" source="info.build.git.version" defaultValue="NOT_SET"/>
    <springProperty name="BUILD_GIT_HASH" source="info.build.git.hash" defaultValue="NOT_SET"/>
    <springProperty name="BUILD_TIMESTAMP" source="info.build.timestamp" defaultValue="NOT_SET"/>
    <!-- Standard console appender for checking activity (short on detail) -->
    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Simplified standard logging encoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>../logs/${log.name}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!-- 超过30天的log文件会被自动删除 -->
            <maxHistory>30</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
        </encoder>
    </appender>
    <appender name="kafkaAppender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="com.github.danielwegener.logback.kafka.encoding.PatternLayoutKafkaMessageEncoder">
            <layout class="net.logstash.logback.layout.LogstashLayout">
                <includeMdc>true</includeMdc>
                <customFields>
                    {"app":"\${APP}","profile":"\${PROFILES_ACTIVE}","app_name":"\${APP_NAME}","env_name":"\${ENV_NAME}","hostname":"\${HOSTNAME}","captain_seq":"\${CAPTAIN_SEQ}","captain_gen":"\${CAPTAIN_GEN}","build_name":"\${BUILD_NAME}","build_git_version":"\${BUILD_GIT_VERSION}","build_git_hash":"\${BUILD_GIT_HASH}","build_timestamp":"\${BUILD_TIMESTAMP}"}
                </customFields>
            </layout>
        </encoder>

        <topic>applog-institution</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy"/>
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy"/>
        <producerConfig>bootstrap.servers=${log.kafka.servers}</producerConfig>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </appender>

    <root level="INFO">
        <springProfile name="local,test-6,loadtest-5">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="!local">
            <appender-ref ref="kafkaAppender"/>
        </springProfile>
    </root>

</configuration>